body
  background #528CE0


wrapp
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center

diamond-element
  width 15%
  background-color aliceblue
//content
//  background-color aliceblue;
//  height 1em
//
